html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.theme-toggles {
  position: absolute;
  top: 2%;
  right: 15%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  .toggle-button {
    cursor: pointer;
  }
}
.season-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.subtitle {
  color: inherit;
}
