.bookdetail {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 50px;
  height: 100%; // 화면 전체 높이 설정
  overflow: auto; //스크롤 활성화
  scrollbar-width: none; /* 스크롤바 안보임 */
}

.summary {
  flex: 1.5;
  margin-right: 20px;
  padding: 20px;
  background-color: inherit;
  border-radius: 10px;
  margin-bottom: 100px;

  h1 {
    margin-bottom: 10px;
  }

  h3, p {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .like {
    background-color: transparent; /* 배경 투명 */
    border: none; /* 버튼 라인 투명 */
    cursor: pointer; /* 마우스 포인터 모양 변경 */
  }
}
