.bookdetail {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 50px;
  height: 100%; // 화면 전체 높이 설정
  overflow: auto; //스크롤 활성화
  scrollbar-width: none; /* 스크롤바 안보임 */
}

.summary {
  flex: 1.5;
  margin-right: 20px;
  padding: 20px;
  background-color: inherit;
  border-radius: 10px;
  margin-bottom: 100px;

  h1 {
    margin-bottom: 10px;
  }

  h3, p {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.comment-box {
  flex: 1;
  margin-left: 50px;
  margin-bottom: 50px;
  
  h2 {
    margin-bottom: 10px;
  }

  textarea {
    width: 95%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* 사용자가 크기를 조절하지 못하도록 설정합니다. */
    scrollbar-width: none; /* 스크롤바 안보임 */
  }
  
  button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    // margin-left: auto;
    // display: flex;
  
    &:hover {
      background-color: #eceaea !important;
    }
  }
}

.comments {
  margin-bottom: 20px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .p {
    font-size: 14px;
    line-height: 1.4;
  }
}

.comment-edit {

  button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #eceaea !important;
    }
  }
}
