.modal {
  display: block;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: hsl(0, 0%, 100%);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover {
        background-color: #f9f9f9 !important;
      }
    }

    button {
      background-color: inherit;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    
      &:hover {
        background-color: #f9f9f9 !important;
      }
    }
    
    input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
