// /src/widgets/button/DarkModeToggle.scss

.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 3em;
    width: 5em;
    border: 2px solid #e4e7ec;
    border-radius: 2em;
    background-color: white;

    transition: background-color 250ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: white;
}

.toggle-button {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.25em #ffbb52;
    transition:
        background-color 250ms,
        border-color 250ms,
        transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.25em white;
    transform: translateX(3em);
}

.sun-icon {
    color: #ffbb52;
    height: 1.5em;
    width: 1.5em;
}

.moon-icon {
    color: #485367;
    height: 1.5em;
    width: 1.5em;
}

.sun-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moon-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
