.book-list {
    height: 100%;
    width: 100%;
    max-width: 100vw;

    margin-bottom: 0px;
    padding: 20px; //안쪽 여백
    padding-bottom: 0px;
    padding-top: 100px;
    border-radius: 8px; //테두리 모서리 둥글게

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0px;
        width: 100%;

        h1 {
            font-size: 1.5rem;
            color: inherit; // 부모 요소로 부터의 글자색 상속
        }

        select {
            padding: 5px 10px; //내부 여백
            font-size: 1rem;
            border: 1px solid #ccc; //테두리 설정
            border-radius: 4px; // 테두리 모서리 둥글게
            background-color: inherit; // 부모 요소로 부터의 색 상속
            color: inherit; // 부모 요소로 부터의 색 상속
            cursor: pointer; //마우스 올리면 커서가 포인터 모양으로 변경
            //Themestore.jsx_secondary 가 셀렉트 상자랑 다른 상자 색 결정
            &:focus {
                outline: none; //select 태그가 포커스를 받을 때 아웃라인제거
                border-color: #ffffff;
            }
        }
    }

    table {
        width: 100%;
        color: inherit;
        border-collapse: collapse; //테이블 경계선 하나로 합침

        thead {
            background-color: #f1f1f1;

            th {
                padding: 10px;
                font-size: 1rem;
                color: inherit; // 부모 요소로 부터의 색 상속
                text-align: left; //텍스트 왼쪽 정렬
                border-bottom: 2px solid #ddd; // 하단 경계선
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #f9f9f9; //짝수행의 배경색
                }

                &:hover {
                    background-color: #f1f1f1; //행에 마우스 올렸을 때 배경색 변경
                }

                td {
                    padding: 10px;
                    font-size: 1rem;
                    color: inherit; // 부모 요소로 부터의 색 상속
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
}


.bookpagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

    button {
        border: none;
        background: none;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
        color: inherit;

        &:hover:not(.active) {
        background-color: transparent; // 배경색을 투명으로 설정
        }
    }

    .active {
        background-color: #d4d4d4;
        color: white;
        border-radius: 5px;
    }
}

.scroll-down-indicator {
    position: relative;
    text-align: center;

    p {
        margin-bottom: 5px;
        margin-top: 5px;
        color: inherit;
        font-size: 20px;
    }

    a {
        display: inline-block;
        position: relative;
        padding-top: 80px;
    }

    a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        transform: rotate(-45deg);
        animation: sdb 2s infinite;
        opacity: 0;
        box-sizing: border-box;
    }

    a span:nth-of-type(1) {
        animation-delay: 0s;
    }

    a span:nth-of-type(2) {
        top: 16px;
        animation-delay: .15s;
    }

    a span:nth-of-type(3) {
        top: 32px;
        animation-delay: .3s;
    }

    @keyframes sdb {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}