.side-layout {
    
    display: flex ;
    height: 100vh;
    background-color: transparent !important; // 최 상위로 올려서 배경 투명하게 만들기
    z-index: 100;
    .menu-icon {
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 10;
    }

    .sidebar {
        z-index: 1;
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100%;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s ease;

        button {
            width: 100px;
            padding: 10px;
            margin: 10px 0;
            cursor: pointer;
            border: 1px solid #ffffff;
            color: inherit;
            background-color: inherit;
            border-radius: 5px;

            &:hover {
                outline: none; //select 태그가 포커스를 받을 때 아웃라인제거
                border-color: inherit;
            }
        }

        &.open {
            left: 0;
        }
    }

    .content {
        margin-left: 200px;
        padding: 20px;
        flex-grow: 1;
        transition: margin-left 0.3s ease;

        .book-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .book-item {
                height: 20px;
                background-color: #ccc;
                border-radius: 5px;

                &:nth-child(odd) {
                    width: 80%;
                }

                &:nth-child(even) {
                    width: 60%;
                }
            }
        }
    }

    .content:not(.open) {
        margin-left: 0;
    }
}
