.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-toggles {
  position: absolute;
  top: 2%;
  right: 15%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  .toggle-button {
    cursor: pointer;
  }
}

// 믹스인
@mixin button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@mixin input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;

  &[type="submit"] {
    cursor: pointer;
  }

  &::placeholder {
    font-size: 0.85rem;
    font-family: $ff;
    font-weight: $ff-light;
    letter-spacing: 0.1rem;
    color: $gray;
  }
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.low-quality,
.high-quality {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.low-quality {
  opacity: 1;
}

.high-quality {
  opacity: 0;
}

.high-quality.loaded {
  opacity: 1;
}
