@import "../app/App.scss";

.common-button {
    padding: 10px 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, var(--primary-gradient-start), var(--primary-gradient-end));
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition:
        transform 0.3s,
        background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;

    &:hover {
        color: white;
        background-image: linear-gradient(to right, rgba(221, 91, 247, 0.815), var(--primary-gradient-end));
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    &:focus {
        outline: none;
    }
}
@keyframes shake {
    0%,
    100% {
        transform: rotate(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(-3deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(3deg);
    }
}
