.theme-mode-toggle {
    padding: 0.5em;
    border: none;
    border-radius: 1em;
    background-color: transparent;
    color: #ffbb52;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 250ms;

    &:hover .theme-icon {
        transform: scale(1.2);
        animation: gentleShake 1s infinite;
    }

    &:focus {
        outline: none;
    }

    &:active .theme-icon {
        transform: scale(1.1);
    }

    .theme-icon {
        color: white;
        height: 1.5em;
        width: 1.5em;
        transition: transform 250ms;
    }
}
@keyframes gentleShake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
        transform: translateY(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-1px);
    }
}
